@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;500&display=swap');

*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    background: #D5E1EF;
    font-family: 'Outfit', sans-serif;
    line-height: 1.3;
}

.box-container{
    margin: 100px auto;
    border-radius: 20px;
    background: #fff;
    max-width: 380px;
    box-shadow: rgb(179, 179, 179) 0px 0px 10px;

}

.inside {
    display: grid;
    justify-items: center;
    padding: 1rem;
}

.inside > img {
    border-radius: 10px;
    max-width: 21em;
}

.text {
    text-align: center;
}

.text > p{
    font-size: 17px;
    margin: 2rem;
    opacity: 0.5;
}

.text > h2{
    font-size: 30px;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

